body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaf3f8;
  color: #333;
}

header {
  background-color: #0077b6;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  height: calc(100vh - 60px); /* Adjust the height */
}

#map {
  flex: 2;
  background-color: #cccccc; /* Placeholder color */
}

.info-panel {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-left: 2px solid #0077b6;
  overflow-y: auto;
}

.info-panel h2 {
  color: #0077b6;
}

.info-panel img {
  width: 100%;
  margin-top: 10px;
}

footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.social-media a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
